div.content-main {
	float:left;
	width:672px;
}

div.dashboard {
	float:right;
}

div.wrapper {
	width:987px;
}

body.t1 {
	font: 15px/19px Georgia,serif;
}

.global-nav div.container {
	width: 1015px;
}

div.tweet p {
	width:92%;
}

div.stream-item .content {
	margin-left: 62px;
}