div.wrapper {
	display: none;
}


body.bb-columnswitch div.content-main {
	float:left;
}

body.bb-columnswitch div.dashboard {
	float:right;
}


body.bb-columnwide div.wrapper {
	width:987px;
}

body.bb-columnwide div.content-main {
	width:672px;
}

body.bb-columnwide div.global-nav div.container {
	width: 1015px;
}

body.bb-columnwide div.tweet p {
	width: 92%;
}


body.bb-fontgeorgia {
	font: 15px/19px Georgia,serif;
}

body.bb-fontverdana {
	font: 15px/19px Verdana,sans-serif;
}


div.bb-birdblock label {
	display: inline-block;
}

div.bb-birdblock input[type=checkbox] + label {
	margin-left: 5px;
	cursor: pointer;
}

div.bb-birdblock img.bb-icon {
	float: right;
	width:20px;
	height:20px;
	opacity:.5;
}

